@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #282a54;
  --text-bg-color: #fff;
  --text-main-color: #000;
}
body {
  background: url("/assets/background.svg");
}
